.signupfree {
  padding-right: 280px;
}

.signupfield {
  padding: 50px;
}

.signupinput {
  margin-bottom: 20px;
  padding: 8px 100px 8px 5px;
  border: grey 1px solid;
  width: 400px;
}

.signupname {
  display: flex;
}

.btnsign{
  margin-left: 430px;
}

#lastname, #firstname {
  padding-right: 21px;
  margin-right: 10px;
  width: 220px;
}

#lastname {
  margin-left: 48px;
}

@media screen and (max-width: 760px) {
  .signupfield {
    padding: 20px;
    width: 325px;
  }

  .signupfree {
    padding-right: 180px;
    font-size: 14px;
    width: 130px;
  }

  .signupname {
    display: block;
  }
  #lastname, #firstname {
    padding-right: 100px;
    margin-right: 0px;
    width: 200px;
  }
  #lastname {
    margin-left: 0px;
  }

  .signupinput {
    margin-bottom: 20px;
    padding: 8px 100px 8px 5px;
    border: grey 1px solid;
    width: 200px;
  }
  
  .btnsign{
    margin-left: 230px;
  }
  
}